[logger]
file = "{{ logger.file }}"
filter = "{{ logger.filter }}"
color = {{ logger.color }}

[network]
listen_addr = "{{ network.listen_addr }}"
bootstrap_nodes = [{% for bootstrap_node in network.bootstrap_nodes %}
  ["{{bootstrap_node.0}}", "{{bootstrap_node.1}}"]
{% endfor %}]
