[👉 OpenRPC spec](http://playground.open-rpc.org/?uiSchema[appBar][ui:title]={{title}}&uiSchema[appBar][ui:splitView]=false&uiSchema[appBar][ui:examplesDropdown]=false&uiSchema[appBar][ui:logoUrl]=https://raw.githubusercontent.com/cryptape/ckb-rpc-resources/main/ckb-logo.jpg&schemaUrl=https://raw.githubusercontent.com/cryptape/ckb-rpc-resources/{{commit}}/json/{{module}}_rpc_doc.json)